.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-title {
    color: #333;
    font-weight: bold;
}

.card-text {
    color: #555;
}

.card .btn-primary {
    background-color: #007bff;
    border: none;
}

.card .btn-primary:hover {
    background-color: #0056b3;
}

.card .btn-danger {
    background-color: #dc3545;
    border: none;
}

.card .btn-danger:hover {
    background-color: #c82333;
}

/* Estilização do cabeçalho e rodapé */
header {
    background-color: #343a40;
}

.navbar-brand img {
    width: 50px;
}

.footer {
    background-color: #1C1C1C;
    color: #fff;
    padding: 20px 0;
}

.footer h4 {
    color: #fff;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Estilização adicional */
body {
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 20px;
}